.head {
    display: grid;
    width: 100%;
    align-items: center;
  
    &-btns{
      display: none;
      @media (max-width: 920px) {
        transition: all ease .5s;
        display: grid;
        width: fit-content;
        height: fit-content;
        gap: 3px;
        position: absolute;
        right: 0px;
        
        &-div{
          display: flex;
          gap: 8px;
          margin: 0;
          padding: 0;
          align-items: center;
          height: 100%;
          &-avatar{
            position: absolute;
            right: 15px;
          }
        }
      }
      @media (max-width: 420px) {
        transition: all ease .5s;
        align-items: center;
        display: flex;
        gap: 2px;
      }
      @media (max-width: 380px) {
        transition: all ease .5s;
        align-items: center;
        display: flex;
        width: 230px;
        gap: 5px;
        position: absolute;
        left: 185px;
      }
      @media (max-width: 320px) {
        transition: all ease .5s;
        align-items: center;
        display: flex;
        width: 180px;
        gap: 5px;
        position: absolute;
        left: 115px;
        // border: #00a9ff 1px solid;
      }
    }
    &-top {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      width: 100%;
      z-index: 999;
      position: fixed;
      box-shadow: var(--primary) 1px 1px 3px;
      transition: all ease .5s;
      top: 0;
      
      &-a{
        color: black;
        transition: all ease .3s;

        &:hover{
          color: #00a9ff;
        }
      }

      
  
      @media (max-width: 600px) {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        display: grid;
        height: 70px;
        border-bottom: rgba(0, 0, 0, 0.559) 1px solid;
      }
  
      &__menu {
        height: 100%;
        position: relative;
        display: grid;
        align-items: center;
        width: fit-content;
        background: transparent;
        // border: #00a9ff 1px solid;
        z-index: 9999;
        
        
        @media (max-width: 920px) {
          position: fixed;
          display: none;
          justify-content: center;
          z-index: 10000;
          top: 70px;
          left: 0;
          background: white;
          width: 100%;
          height: 50px;
        }
        
        ul {
          display: grid;
          align-items: center;
          margin: auto;
          position: relative;
          height: fit-content;
          list-style: none;
          display: flex;
          gap: 20px;
  
          li {
            height: 100%;
            align-items: center;
            display: grid;
            gap: 5px;
            // font-size: 1.5rem;
            cursor: pointer;
            color: black;
            font-weight: 500;
            transition: all ease .3s;
  
            img {
              display: block;
              height: 6px;
              transition: all ease .3s;
              filter: grayscale(100%);
            }
  
            &:hover {
              color: #00a9ff;
              transition: all ease .3s;
  
              img {
                transform: rotateZ(180deg);
                transition: all ease .3s;
                filter: grayscale(0%);
              }
            }
          }
        }
  
      }
    }
    &-hidden{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      transition: all ease .5s;
      align-items: center;
      background: white;
      width: 100%;
      z-index: 999;
      position: relative;
      border-bottom: none;
      
      &-a{
        color: black;
        transition: all ease .3s;

        &:hover{
          color: #00a9ff;
        }
      }

      
  
      @media (max-width: 920px) {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        display: grid;
        height: 70px;
        border-bottom: rgba(0, 0, 0, 0.559) 1px solid;
      }
  
      &__menu {
        height: 100%;
        position: relative;
        display: grid;
        align-items: center;
        width: fit-content;
        background: transparent;
        // border: #00a9ff 1px solid;
        z-index: 9999;
        
        
        @media (max-width: 920px) {
          position: fixed;
          display: none;
          justify-content: center;
          z-index: 10000;
          top: 70px;
          left: 0;
          background: white;
          width: 100%;
          height: 50px;
        }
        
        ul {
          display: grid;
          align-items: center;
          margin: auto;
          position: relative;
          height: fit-content;
          list-style: none;
          display: flex;
          gap: 20px;
  
          li {
            height: 100%;
            align-items: center;
            display: grid;
            gap: 5px;
            // font-size: 1.5rem;
            cursor: pointer;
            color: black;
            font-weight: 500;
            transition: all ease .3s;
  
            img {
              display: block;
              height: 6px;
              transition: all ease .3s;
              filter: grayscale(100%);
            }
  
            &:hover {
              color: #00a9ff;
              transition: all ease .3s;
  
              img {
                transform: rotateZ(180deg);
                transition: all ease .3s;
                filter: grayscale(0%);
              }
            }
          }
        }
  
      }
    }
    &-logo {
      cursor: pointer;
  
      img {
        height: 50px;
  
        @media (max-width: 600px) {
          height: 45px;
        }
  
        @media (max-width: 399px) {
          height: 30px;
        }
      }
    }
  
    &-menu {
      display: grid;
      width: 100%;
      margin: 0 auto;
      color: white;
      background: black;
      height: 250px;
      place-items: center;
      padding: 0;
  
      @media (max-width: 700px) {
        margin-top: 70px;
      }
            // font-size: 1.6rem;
            a{
              color: white;
              width: 100%;
              height: 100%;
              &:hover{
                
            
              color: #f9f2f2;
            
              }
            }
  
      ul {
        margin-top: 0px;
        padding: 0;
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0 auto;
        justify-content: center;
  
        @media (max-width: 700px) {
          width: 80%;
          gap: 5px;
        }
  
        li {
          display: grid;
          padding: 8px 38px;
          height: 40px;
          border-radius: 10px 10px 0px 0px;
          cursor: pointer;
          place-items: center;
          background: #00a9ff;

          &:hover{
            background: #054986;

          }
  
          @media (max-width: 700px) {
            padding: 6px 8px;
            // font-size: 1.4rem;
          }
  
          @media (max-width: 399px) {
            padding: 4px 8px;
            // font-size: 1.1rem;
            height: 35px;
          }
        }
      }
  
      &__container {
        display: grid;
        width: 100%;
        gap: 10px;
        margin-top: 55px;
        &-lang{
          position: absolute;
          color: #f9f2f2;
          top: 90px;
          @media (min-width: 920px) {
            display: none;
          }
        }
      }
    }
  }
  
  .isactive {
    display: none;
  }