.headproducts{
   
    height: 80px;
    width: 100%;
    @media (max-width: 920px) {
        padding: 10px 20px;
    }
    @media (max-width: 450px) {
        padding: 10px;
    }
    &.blackhead{
        display: flex;
        justify-content: space-between;
        background: black;
        align-items: center;
        padding: 0 25px;
    }
    &.whitehead{
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;

    }
    &-logo{
        display: grid;
        align-items: center;
        width: 150px;
        height: 100%;
        // border: white 1px solid;
        a{
            align-items: center;
            display: grid;
            width: 100%;
            height: 100%;

            img{
                height: 50%;
                filter: brightness(500%);
            }
        }
    }
    &-info{
        img{
            width: 70%;
        }
    }

    &-group{
        display: flex;
        align-items: center;
        // border: black 1px solid;
        gap: 20px;
        @media (max-width: 920px) {
            flex-direction: row-reverse;
            flex-direction: none;
        }
    }

    &-useravatar{
        position: relative;
        display: flex;
        width: fit-content;
        height: 50px;
    }

}