.menudashbadm{
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    ul{
     margin: 0;
     padding: 0;
    }
    &-links{
       display: grid;
       gap: 2px;
       list-style: none;
       
       a{
              padding: 10px 25px;
              display: block;
              background: #EC3337;
              width: 250px;
              height: fit-content;
              color: white;
              text-decoration: none;
              border-radius: 7px;
              border: #f26769 1px solid;
              transition: all ease .5s;
              &:hover{
                  color: black;
                  font-weight: 700;
                  border: #f26769 1px solid;
                  border-left: #EC3337 5px solid;
                  background: transparent;
                }
                @media (max-width: 920px) {
                    // border: 1px solid black;
                    font-size: 20px;
                  }
            }
      @media (max-width: 920px) {
        gap: 10px;
        padding: 100px 50px 200px 50px;
      }

      .active{
        transition: all ease .5s;
        border: #f26769 1px solid;
        background: transparent;
        color: black;
        font-weight: 700;
        border-left: #EC3337 5px solid;
      }
    }

}