.menubottom{
    display: none;
    border: none;
    @media (max-width: 920px) {
      z-index: 999;
      margin: auto;
      bottom: 0;
      position: fixed;
      display: grid;
      width: 100%;
      height: 80px;
      animation: fadeIn ease .7s backwards .3s;
      background: white;
      border: none;
      box-shadow: gray -1px -1px 2px;
    }

    &-container{
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      padding: 10px 0;  
      border: none;
    }
    &-itemss{
      display: grid;
      width: 100%;
      height: 100%;
    //   padding:10px;
      align-items: baseline;
      text-align: center;
      border: none;

      img{
        height: 35px;
        border: none;
        // filter: brightness(500%);
      }
      p{
        color: black;
        text-align: center;
        border: none;
      }
    }
  }