.menudashb{
    display: grid;
    width: 100%;
    background: white;
border-radius: 10px;
padding: 10px 0px 20px 0px;
    
    &-links{
       display: grid;
       padding: 10px 0 0 50px;
       gap: 15px;
       list-style: none;
            a{
                width: 100%;
                height: fit-content;
                font-weight: 400;
                color: black;
                @media (max-width: 920px) {
                    // border: 1px solid black;
                    font-size: 20px;
                  }
                  &:hover{
                    color: #EC3337;
                }
            }
      @media (max-width: 920px) {
        gap: 10px;
        padding: 100px 50px 200px 50px;
      }
    }
    button{
      display: flex;
      text-decoration: none;
      font-size: 17px;
      border: none;
      font-weight: 500;
      gap: 5px;
      margin: 20px 48px 0;
      padding: 0;
      background: transparent;
      place-items: center;
      align-self: center;
      color: rgb(68, 66, 66);
      &:hover{
          color: #EC3337;
          img{
              filter: grayscale(0%);
              
          }
      }
      &:focus-visible{
          border: none;
          outline: none;
      }
      &:focus{
          border: none;
          outline: none;
      }

  }
}