.slider-container {
    position: relative;
    display: grid;
    place-content: center;
    // border: green 1px solid;
    gap: 8px;

    button{
        background: transparent;
        outline: none;
        border: none;

        &:active{
            outline: none;
            border: none;
        }
        &:visited{
            border: none;
            outline: none;
        }
        &:focus{
            border: none;
            outline: none;
        }
    }
    .active {
      transform: translateX(0);
      width: 100%;
      border-bottom: #EC3337 3px solid;
      // box-shadow: 1px 1px 1px black;
      img{
        width: 100%;
      }
    }
    
  }
  
  .slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%; /* Cambiar el ancho del slider según tus necesidades */
    height: 400px; /* Cambiar la altura del slider según tus necesidades */
  }
  
  .slide {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.5s ease-in-out;

    img{
        object-fit: contain;
        height: 100%;
    }

  }
  

  /* Estilos para los botones de "Prev" y "Next" */
  .next {
    display: grid;
    right: -10px;
    margin: auto;
    bottom: 0;
    top: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    // border: black 1px solid;



    &::before{
        position: absolute;
        margin: auto;
        left: 3px;
        display: block;
        content: "";
        clip-path: polygon(90% 0, 40% 50%, 90% 100%, 75% 100%, 25% 50%, 75% 0);
        background: rgba(0, 0, 0, 0.142);
        transform: rotateZ(-180deg) scale(0.7);
        width: 100%;
        height: 100%;
        transition: all ease .3s;
        
    }
    &:hover::before{
        background: rgba(0, 0, 0, 0.579);
        transform: rotateZ(-180deg) scale(1);
    }

}
.prev {
    display: grid;
    margin: auto;
    bottom: 0;
    top: 0;
    left: -16px;
    position: absolute;
    width: 40px;
    height: 40px;
    border: black 1px solid;


    &::before{
        position: absolute;
        margin: auto;
        left: 3px;
        display: block;
        content: "";
        clip-path: polygon(90% 0, 40% 50%, 90% 100%, 75% 100%, 25% 50%, 75% 0);
        background: rgba(0, 0, 0, 0.142);
        width: 100%;
        height: 100%;
        transition: all ease .3s;
        transform: scale(0.7);
    }
    &:hover::before{
        background: rgba(0, 0, 0, 0.579);
        transform: scale(1);
    }
  }

  .thumbs{
    display: flex;
    // grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 100%;
    height: 80px;
    // background: black;
  }
  .thumb{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(225, 221, 221);
    overflow: hidden;

    img{
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
